{% extends 'main/base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="mkt-s1">
    <div>
        <div class="center">
            <h1 class="center">Create Todo Lists and Manage Your Time!</h1>
        </div>
        <div class="center">
            <p class="center"> You'll have clarity on what you need to get done and
                you will feel less stressed because all your to do's are on this website
                and out of your mind.</p>
        </div>
        <div class="center">
            <a href="/register"
               class="btn btn-success">Register Now!
            </a>
            <p>Already have an account? Log in <a href="/login">here</a></p>
        </div>
    </div>
</div>
{% endblock %}